style.css
html{
scroll-nehavior: smooth;
}

.p{
	text-decoration-color: white
}
.H1{
color: rgb(0, 0, 0);
font-family: 'Times New Roman', Times, serif;
}
.left{
float: left;
}
.right{
float: right;
}
.button-container{
display:flex;
padding: 10px 20px;
}
.button-container{
display:flex;
padding:10px 20px;
}

.button-container button{
margin-right:10px;
}^

.button{
background-color: black;
color: white;
border: none;
padding: 10px 40px;
border-radius: 5px;
text-align: center;
text-decoration: none;
display:inline-block;
font-size:16px;
margin: 4px 40px;
cursor: pointer;
}

.container {
width: 1200px;
background-color: white;
padding: 100px;
font-family: serif;

.title-container {
display:flex;
jistify-content: space-between;
font-weight: bold;
margin: 20px;
padding:20px;
color: black;
font-family: serif;
column-gap: 10px;
text-decoration: underline;
font-family: serif
}

.image-container{
display:flex;
justify-content:space-between;
}

.img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;

}

.p-container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  column-gap: 10px;
}

.mapa-container {
  max-width: 100%;
  margin: 0 auto;
}